:root {
	--text-color: rgb(253, 253, 253);
}

body {
	background-color: #121212;
	color: #e0e0e0;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

.container {
	max-width: 700px;
	margin: 0 auto;
	padding: 40px;
}

h1 {
	color: var(--text-color);
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 20px;
}

.form-container {
	background-color: #1e1e1e;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	padding: 20px;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.form-group label {
	font-weight: bold;
	margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
	background-color: #2c2c2c;
	border: 1px solid #555555;
	color: var(--text-color);
	border-radius: 5px;
	padding: 10px;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
	color: rgb(170, 170, 170);
}

.form-group textarea {
	resize: vertical;
	min-height: 100px;
}
.alerta-vacio {
	margin-top: 5px;
	padding: 8px;
	font-size: 1rem;
	text-align: center;
	border-radius: 5px;
	color: var(--text-color);
	background-color: #cf6679;
}

.button-group {
	display: flex;
	justify-content: space-between;
}

.submit-button,
.reset-button {
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	color: var(--text-color);
	transition: background-color 0.3s;
}

.submit-button {
	background-color: #bb86fc;
	cursor: not-allowed;
	opacity: 0.5;
}

.reset-button {
	background-color: #bb86fc;
	border: 1px solid;
}

.reset-button:hover {
	background-color: #3700b3;
	border: 2px solid var(--text-color);
}

.submit-button:hover:not(:disabled) {
	background-color: #3700b3;
	border: 2px solid var(--text-color);
}

.spinner-container {
	display: none;
	justify-content: center;
	margin: 20px;
}
.alerta-exito-enviar {
	background-color: #00b894;
	color: var(--text-color);
	padding: 8px;
	margin-top: 10px;
	font-size: 1rem;
	font: bold;
	text-transform: uppercase;
	text-align: center;
	border-radius: 2px;
}
